.modal-wrapper {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background: rgb(0, 0, 0, 0.5);
  /* z-index: 1; */
  transition: opacity 0.8s, transform 0.5s;
  z-index: 100;
}
.modal-content {
  position: relative;
  max-width: 700px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 20px;
  opacity: 0;
  visibility: hidden;
  color: rgb(222, 223, 231);
  background: rgba(23, 23, 25, 0.9);
  border: 1px solid rgb(222, 223, 231);
  transform: translate(-50%, -100%);
  transition: opacity 0.8s, visibility 0.5s, transform 0.5s;
}
.modal-wrapper.open {
  visibility: visible;
}
.modal-wrapper.open .modal-content {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) rotateX(0);
}
