.garage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.garage-tracks {
  min-height: calc(100vh + 20px);
}

.control-race-wrapper .control-button {
  min-width: 120px;
  margin-left: 5px;
  padding: 0 10px;
}
