.garage-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 44px;
  text-align: center;
}
.control-button-wrapper {
  display: flex;
}

.control-button {
  margin-left: 5px;
}
